.article-main p,
.article-main ul {
  margin: 30px 0;
}

.wp-block-quote p {
  margin: 10px 0;
}

p,
li,
cite,
a,
code {
  font-size: 15px;
  line-height: 150%;
}

.article-main h2,
.article-main h3 {
  scroll-margin-top: 60px;
}

.article-main a {
  color: #0044cc;
}

.content h1 {
  font-size: 35px;
  font-weight: 100;
  text-align: center;
  border-bottom: 1px solid #333;
}

small a {
  color: #0044cc;
}

.content h3 {
  font-size: 20px;
  line-height: 40px;
  margin: 20px 0 5px 0;
  display: flex;
  font-weight: 100;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

.content h3::before {
  content: "";
  color: transparent;
  width: 10px;
  margin-right: 5px;
  display: block;
  line-height: 100%;
  background-color: #ffff7f;
}

.content h4 {
  font-size: 20px;
  font-weight: 100;
}

.content h2 {
  position: relative;
  padding: -40px 15px 0 15px;
  font-weight: 100;
  line-height: 60px;
  box-shadow: 5px 5px #ffff7f;
  border: 1px solid #333;
  background-color: transparent;
  text-decoration: dashed;
  font-size: 30px;
  margin: 90px 0 10px 0;
  border-radius: 10px;
  text-align: center;
}

li {
  margin: 10px 0;
}

.article-main li::before,
.table_h2::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border: #333 solid 1px;
  box-shadow: 2px 2px 0 #333;
}

.table_h3 {
  display: flex;
}

.table_h3::before {
  content: "|";
  color: transparent;
  display: block;
  width: 1px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #333;
  line-height: 100%;
}

cite {
  padding: 10px;
  border-radius: 10px;
  background-color: #eee;
  width: 100%;
  display: block;
}

.comment-reply-link {
  color: #0044cc;
}

p a {
  color: #0044cc;
}

@media screen and (max-width: 760px) {
  .content h1 {
    font-size: 30px;
  }

  .content h2 {
    line-height: 40px;
    font-size: 20px;
  }

  .content h3 {
    font-size: 15px;
  }

  p,
  li,
  cite,
  a,
  time,
  code {
    font-size: 13px;
    line-height: 150%;
  }

  .article-main h2,
  .article-main h3 {
    scroll-margin-top: 70px;
  }
}
